:root {
    --color1: #FFF;
    --color2: #171717;
    --color3: #0E0E0E;
    --color4: #0A0909;
    --color5: #242424;
    --color6: #1F1F1F;
    --color7: #634F2C;
    --color8: #B4A385;
    --color9: #E4B564;
    --color10: #635A4A;
    --color11: #B08C4D;
    --color12: rgba(232, 210, 171, 0.76);

}
body {
    /* width: vw;      1 variant
    height: vh; */
    /* width: 1920px;
    height: 4000px; */      /* 2 variant */
    background-color: var(--color2);
}

.light{
    --color1: #390245;
    --color2: #f0a4f0;
    --color3: #868080;
    --color4: #c59c9c;
    --color5: #af7a7a;
    --color6: #744d7a;
    --color7: #ac9670;
    --color8: #7e226e;
    --color9: #6e3b88;
    --color10: rgb(187, 43, 187);
    --color11: #954b8a;
    --color12: rgba(122, 54, 151, 0.76); */
}

.container {
    width: 1460px;      /* 1 variant */
    margin: 0 auto;
    /* margin: 0 230px; */  /* 2 variant */
}
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}
.header-logo {
    margin-bottom: 89px;
}
.header-button-call {
    display: flex;
    align-items: center;
    border: 1px solid var(--color9);
    background-color: inherit;
    box-sizing: border-box;
    width: 218px;
    height: 50px;    
    padding: 10px 25px;
    text-decoration: none;
}
.header-call-img {
    display: inline-block;
    width: 16px;
    height: 16px; 
}
.header-call-span {
    display: block;
    height: 30px;
    width: 144px;
    color: var(--color9);
    font-family: Ballet;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding-left: 8px;   
}
h2, p {
    color: var(--color1);
    font-family: Gilam;
    font-weight: 700;
    line-height: 28px;    
}
.h2-heating-networks-list {
    margin-bottom: 43px;
}
h2 {
    font-size: 50px;
}
.p-heating-networks-list {
    width: 1182px;
    font-size: 20px;
    margin-bottom: 41px;
}
.heating-networks-list {
    display: grid;
    grid-template-rows: repeat(2, 468px);
    grid-template-columns: repeat(6, 1fr);
    row-gap: 27px;
    column-gap: 29.5px;
    color: var(--color1);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    grid-template-areas:
    "heating-networks-item-1 heating-networks-item-1 heating-networks-item-2 heating-networks-item-2 heating-networks-item-3 heating-networks-item-3"
    "heating-networks-item-4 heating-networks-item-4 heating-networks-item-4 heating-networks-item-5 heating-networks-item-5 heating-networks-item-5";
    /* text-align: center; шукала як відцентрувати вміст у всівх напрямах, горизонталь є, вертикаль не знайшла, зробила через flex*/
    /* align-items: center; прикольний ефект, але не знаю де таке може знадобитися */  
    margin-bottom: 161px;  
}
.heating-networks-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 51px;
    /* padding: 43px; */
}
.heating-networks-item-1 {
    background-color: var(--color7);
    grid-area: heating-networks-item-1;
}
.heating-networks-item-2 {
    background-color: var(--color8);
    grid-area: heating-networks-item-2;
}
.heating-networks-item-3 {
    background-color: var(--color9);
    grid-area: heating-networks-item-3;
}
.heating-networks-item-4 {
    background-color: var(--color10);
    grid-area: heating-networks-item-4;
}
.heating-networks-item-5 {
    background-color: var(--color11);
    grid-area: heating-networks-item-5;
}
.h2-construction-equipment {
    margin-bottom: 94px;
}
.construction-equipment-list {
    display: grid;
    grid-template-rows: 255px 26px 32px 24px 102px 33px 122px 26px 257px 20px;
    grid-template-columns: repeat(3, 467px);
    column-gap: 29.5px;
    margin-bottom: 191.19px;
    color: var(--color1);
    font-family: Gilam;
    font-size: 20px;
}
.construction-equipment-item {
    display: flex;
    flex-direction: column;
    padding-top: 44px;
    /* justify-content: center; */
    /* align-items: center; */
}
.construction-equipment-item-1, .construction-equipment-item-2, .construction-equipment-item-5, .construction-equipment-item-6 {
    padding-left: 51px;
}
.construction-equipment-item-3, .construction-equipment-item-4, .construction-equipment-item-7 {
    padding-left: 48px;
}
.construction-equipment-item-1, .construction-equipment-item-2 {
    font-weight: 400;
}
.construction-equipment-item-3, .construction-equipment-item-4, .construction-equipment-item-5 {
    font-weight: 500;
}
.span-construction-equipment {
    display: block;
}
.construction-equipment-item-6 {
    color: var(--color4);
    font-weight: 500;
    padding-top: 47px;
}
.construction-equipment-item-1 {
    background-color: var(--color3);
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
.construction-equipment-item-2 {
    background-color: var(--color5);
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}    
.construction-equipment-item-3 {
    background-color: var(--color6);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}    
.construction-equipment-item-4 {
    background-color: var(--color3);
    grid-row-start: 3;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 4;
}
.construction-equipment-item-5 {
    background-color: var(--color6);
    grid-row-start: 5;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: 56px;
}
.construction-equipment-item-6 {
    background-color: var(--color9);
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 3;
}
.construction-equipment-item-7 {
    background-color: var(--color4);
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 3;
    grid-column-end: 4;
    font-weight: 700;
}
.clients-projects-div {
    background-color: var(--color3);
    padding-top: 172px;
    margin-bottom: 238.81px;
}
.clients-projects-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* margin-top: 172px;    чому не спрацювало? */
    margin-bottom: 72px;
}
.clients-projects-button {
    border: 1px solid var(--color9);
    background-color: inherit;
}
.clients-projects-link {
    text-decoration: none;
    display: block;
    width: 100%;        /* як розтягнути на весь контур? */
}
.clients-projects-span {
    color: var(--color9);
    font-family: Ballet;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.clients-projects-list {
    display: grid;
    grid-template-rows: repeat(2, 391px);
    grid-template-columns: 487px 486px 487px;
}
.clients-projects-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    /* padding: auto 80px;  чому не спрацювало? */
}
.clients-projects-item p {
    color: var(--color1);
    font-family: Gilam;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px; /* 127.273% */
}
.clients-projects-picture {
    display: block;
}
.clients-projects-item-1, .clients-projects-item-6 {
    background-color: var(--color7);
}
.clients-projects-item-2 {
    background-color: var(--color12);
}
.clients-projects-item-3 {
    background-color: var(--color9);
}
.clients-projects-item-4 {
    background-color: var(--color10);
    padding-bottom: 50px;
}
.clients-projects-item-5 {
    background-color: var(--color11);
}
